.imagecardparent {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

.img1-card {
  width: 100%;
  height: auto;
}

/* Media Queries for responsiveness */
@media (max-width: 640px) {
  .imagecardparent {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .imagecardparent {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .imagecardparent {
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .imagecardparent {
    width: 80%;
  }
}
